.time-line-tracking{
  .ant-timeline-item-content{
    top: 0;
    margin-top: -6px;
  }
  .ant-timeline-item{
    top: 0;
    margin-top: -6px;
    padding-top: 6px;
  }
  //.timeline-date{
  //  top: -6px
  //}
}