.title {
  margin-bottom: 5px;
}

.item-wrap {
  margin-top: 10px;
  padding: 40px;
  border: 1px solid #e8e8e8;
}

.artwork-card {
  .anticon {
    vertical-align: -2px !important;
  }
}

.ant-modal-body {
  padding-top: 0;
}
