.shopify-auth {
  .ant-result {
    padding: 48px 32px 16px 32px;
  }

  .account-selector {
    margin-top: 8rem;
    margin-bottom: 8rem;

    .account-card {
      cursor: pointer;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: var(--p-card-shadow, 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15));

      .avatar-container {
        padding-top: 2rem;
        padding-bottom: 2rem;

        .Polaris-Avatar--sizeMedium {
          width: 46px;
          height: 46px;
          border-radius: 50%;
        }

        .account-avatar {
          width: 46px;
          height: 46px;
          border-radius: 50%;
        }
      }

      .next-icon {
        -webkit-transition: -webkit-transform 200ms ease;
        transition: -webkit-transform 200ms ease;
        transition: transform 200ms ease;
        transition: transform 200ms ease, -webkit-transform 200ms ease;
      }

      &:hover {
        background-color: #f9fafb;

        .next-icon {
          -webkit-transform: translateX(0.8rem);
          transform: translateX(0.8rem);
        }
      }
    }

    .account-links {
      margin-top: 3rem;
      font-size: 16px;

      .account-link {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline;
        text-align: inherit;
        padding: 0;
        background: none;
        border: 0;
        font-size: inherit;
        color: var(--p-interactive, #006fbb);
        text-decoration: none;
        cursor: pointer;
        position: relative;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}