.sidebar {
  overflow-x: hidden;
  height: 100vh;
  position: relative;
  left: 0;
  border-right: 1px solid rgba(0, 0, 0, .0625);

  .sidebar-menu {
    border: 0;

    a {
      outline: none;
    }

  }

  .logo {
    height: 59px;
    padding: 0 16px;

    .brand {
      font-weight: 500;
      display: flex;
      height: 100%;

      img {
        height: 100%;
        width: auto;
      }

    }
  }

  .collapse {
    justify-content: center;
  }

}
