.sample-address-item{
  border-bottom: 1px solid #bfb2b2;
}
.sp-delete-button-container{
  width: 40px;
  height: 40px;
}

.sp-delete-button{
  font-size: 1.5em;
  color: #F44336;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
}
.sp-delete-button:hover{
  font-size: 2em;
  margin-top: 7px;
  margin-left: 7px;
}