.zero-profit {
  font-weight: bold;
  color: gray;
}

.positive-profit {
  font-weight: bold;
  color: green;
  white-space: nowrap;
}

.negative-profit {
  font-weight: bold;
  color: red;
  white-space: nowrap;
}