.image-caption {
  font-size: 1.15rem;
}

.vertical-align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-cover{
  width: 90px;
  border: 1px dot-dash #333;
}

.dndzone-text {
  font-size: 1.5rem;
}