.title-list-uploading {
  margin-bottom: 0;
}

.choose-shop-submit-container {
  .generate-status-banner {
    .Polaris-Heading {
      font-size: 1.4rem;
    }
  }
  .flex-space {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .ant-avatar-string {
    font-size: 16px;
  }
}

.status-upload {
  width: 95px;
}
