.current-dpi-card {
  border-radius: 3px;
  box-shadow: 0 1px 10px rgba(44, 42, 68, .12);
  margin: 0;

  .Polaris-Banner {
    box-shadow: unset !important;
    padding: 1rem;

    .Polaris-Banner__Ribbon {
      padding-right: 0;
    }

    .Polaris-Heading {
      font-size: 1.4rem;
    }
  }
}