.create-new-product-button-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  background-color: #fcfcfc;
  margin: 10px 0px 10px 0px;
  height: 100px;
  border: 1px gray dashed;
}
